<div class="col-xs-10 col-xs-offset-1 about">
<h1>About Freedom</h1>

<p>This app is about obtaining your freedom! Freedom to do what you'd like, when you'd like, how you'd like, and the freedom to not be judged by people. If you have any questions, do not hesitate to call. I'll be around.</p>
</div>